
<!-- navigation bar code starts here -->
<nav class="navbar navbar-expand-lg" style="background-color: rgb(21, 22, 22);">

  <a class="navbar-brand" href="/"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <h5><a class="nav-link" href="/" style="color: #eff2f7;">Home</a></h5>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Treats" style="color: #eff2f7;" >Treats</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Flavors" style="color: #eff2f7;">Flavors</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Account" style="color: #eff2f7;">Account</a>
      </li>

    </ul>
  </div>

</nav>
    <!-- navigation bar code ends here -->